################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Java/.vscode
/C++/.vs/C++/v16
/CSharp/.vs/CSharp
