################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Java/.vscode
/C++/.vs/C++/v16
/CSharp/.vs/CSharp
/C++/001/Debug
/C++/002/Debug
/C++/003/Debug
/C++/Debug
/CSharp/001/bin/Debug/netcoreapp3.1
/CSharp/001/obj
/CSharp/002/bin/Debug/netcoreapp3.1
/CSharp/003/bin
/CSharp/003/obj
/CppProperties.json
